{% extends 'WalvaPublicationBundle:Article:layout.html.twig' %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Show</li>
{% endblock %}

{% block body -%}
<h1>Article</h1>

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
     
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Resume</th>
            <td>{{ entity.Resume}}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ entity.contenu | raw }}</td>
        </tr>
        

            </tbody>
        </table>

{% endblock %}

{% block container_header_right %}

        <div class="btn-group">
            <a class="btn " href="{{ path('article') }}">
                <i class="icon-chevron-left"></i> 
                Back to the list
            </a>
            <a class="btn " href="{{ path('article_edit', { 'id': entity.id }) }}">
                <i class="icon-pencil"></i> Edit</a>
        </a>

    </div>
{% endblock %}