{# empty Twig template #}
<ul class="nav">
    <li class=""><a href="{{ path('article_show_by_slug', {'slug':'home'}) }}"><i class="icon-home"></i> Accueil</a></li>
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <i class="icon-bullhorn">
                </i> Projets et activités 
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {{ render(controller("WalvaPublicationBundle:Article:list")) }}
                    <li class="divider"></li>
                <li class=""><a href="{{ path('article') }}"><i class="icon-list"></i> Liste exhaustive</a></li>
               
            </ul>
        </li>
    </ul>
  

    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <i class="icon-info-sign">
                </i> A propos 
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class=""><a href="{{ path('article_show_by_slug', {'slug':'equipe'}) }}"> Equipe</a></li>
                <li class=""><a href="{{ path('article_show_by_slug', {'slug':'contact'}) }}"> Contact</a></li>
                <li class=""><a href="{{ path('article_show_by_slug', {'slug':'liens'}) }}">Liens</a></li>
                <li class=""><a href="{{ path('article_show_by_slug', {'slug':'partenaires'}) }}"> Partenaires et Sponsors</a></li>

            </ul>
        </li>
    </ul>
        {% if is_granted('ROLE_ADMIN') %}
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <i class="icon-wrench">
                </i> Administration
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class=""><a href="{{ path('annee') }}"><i class="icon-share"></i> Année</a></li>
                <li class=""><a href="{{ path('fac') }}"><i class="icon-tasks"></i> Fac</a></li>
                <li class=""><a href="{{ path('parrain') }}"><i class="icon-tasks"></i> Parrain</a></li>
                <li class=""><a href="{{ path('filleul') }}"><i class="icon-tasks"></i> Filleul</a></li>
                <li class=""><a href="{{ path('associations') }}"><i class="icon-tasks"></i> Association</a></li>
                <li class="divider"></li>
                <li class=""><a href="{{ path('image') }}"><i class="icon-picture"></i> Image</a></li>
                <li class=""><a href="{{ path('article') }}"><i class="icon-file"></i> Article</a></li>
                <li class=""><a href="{{ path('categorie') }}"><i class="icon-folder-open"></i> Catégorie</a></li>

            </ul>
        </li>
    </ul>
        
        
        {% endif %}
</ul>