{% extends 'WalvaPublicationBundle:Image:layout.html.twig' %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Show</li>
{% endblock %}



{% block body -%}
    <h1>Image</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ entity.alt }}</td>
            </tr>
        </tbody>
    </table>

    
{% endblock %}

    
{% block container_header_right %}

    <div class="btn-group">
        <a class="btn " href="{{ path('image') }}">
            <i class="icon-chevron-left"></i> 
            Back to the list
        </a>
        <a class="btn " href="{{ path('image_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i> Edit</a>
    </a>

</div>
{% endblock %}