{% extends "WalvaSupportkotBundle:Annee:layout.html.twig" %}
{% set current_page = 'list' %}

{% block breadcrumb %}
{{ parent() }}
<li class="active">list</li>
{% endblock %}

{% block body %}
<h1>Annee list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('annee_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom | walva_label(entity.couleur) | raw }}</td>

                <td>
                    <div class="btn-group">
                        <a class="btn" href="{{ path('annee_show', { 'id': entity.id }) }} ">
                            <i class="icon-eye-open"></i> Show</a>
                        <a class="btn" href="{{ path('annee_edit', { 'id': entity.id }) }}">
                            <i class="icon-pencil"></i> Edit</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}

{% block container_header_right %}
        <a class="btn btn-primary" href="{{ path('annee_new') }}">
            <i class="icon-plus icon-white"></i> 
            Create a new entry
        </a>
{% endblock %}